<div class="container">
    <div style="height: 50px;"></div>
            
    <div class="row">
      <div class="col-md-12">
        <div class="card border-secondary mb-3" style="min-height: 500px;">
          <h6 class="card-header text-white bg-secondary mb-3">  Ejercicios por Contenido </h6>
          
          <div class="card-body" align="left">
            
            
            <div class = "row">
              <div> 
                <a href="/contentidos/porcontenido" class="btn btn-primary btn-block" align="bottom">  Ver por Contenido </a>
              </div>
              
              
              <div> 
                <a href="/contentidos/pordificultad" class="btn btn-primary btn-block" align="bottom">  Ver por Dificultad </a>
              </div>
              
              
              <div> 
                <a href="/contentidos/pormolde" class="btn btn-primary btn-block" align="bottom">  Ver por Molde </a>
              </div>
              
            </div>
            <hr>

            <table class="table">
              <tr>
                <th>
                  Contenido
                </th>
            
                <th>
                  # ejercicios (Muy Fácil / Fácil / Medio / Difícil / Muy Difícil )
                </th>
            
              </tr>
            
              <% @contentidos.each do |cont| %>
              <tr>
                <td>
                  <a href="/contentidos/<%= cont.id %>"> <%= cont.nombre %> </a>
                </td>
            
                <td>
                    <% muyfac = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 1).count %>
                    <% fac = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 2).count %>
                    <% med = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 3).count %>
                    <% dif = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 4).count %>
                    <% muydif = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 5).count %>
                    
                  <%= @ejercicios.where(:contenido_id => cont.id).count %> (<%= muyfac %> / <%= fac %> / <%= med %> / <%= dif %> / <%= muydif %>)
                </td>
            
              </tr>
              <% end %>
            </table>


          </div>
        </div>
      </div>
    </div>
</div>