<div class="container">
    <div style="height: 50px;"></div>
            
    <div class="row">
      <div class="col-md-12">
        <div class="card border-secondary mb-3" style="min-height: 500px;">
          <h6 class="card-header text-white bg-secondary mb-3">  Ejercicios por Contenido </h6>
          
          <div class="card-body" align="left">
            
            <!--- Botones para cambiar de visor --->
            <div class = "row">
              <div> 
                <a href="/contentidos/porcontenido" class="btn btn-danger btn-block" align="bottom">  Ver por Contenido </a>
              </div>
              
              <div> 
                <a href="/sub_contenidos" class="btn btn-primary btn-block" align="bottom">  Ver por Sub_Contenido </a>
              </div>
              
              <div> 
                <a href="/contentidos/pordificultad" class="btn btn-primary btn-block" align="bottom">  Ver por Dificultad </a>
              </div>
              
              <div> 
                <a href="/contentidos/pormolde" class="btn btn-primary btn-block" align="bottom">  Ver por Molde </a>
              </div>
              
            </div>
            <hr>
            
            <!--- Botones para reordenar --->
            <div class = "row">
              <div> 
                <a href="/contentidos/porcontenido" class="btn btn-secondary btn-block" align="bottom">  ...por orden Académico </a>
              </div>
              <div> 
                <a href="/contentidos/porcontenidototal" class="btn btn-secondary btn-block" align="bottom">  Ordenar por total de ejercicios </a>
              </div>
            </div> 
            <div style="height: 10px;"></div>
            <div class = "row">  
              <div> 
                <a href="/contentidos/porcontenidomuyfacil" class="btn btn-warning btn-block" align="bottom">  Ordenar por #Muy Fácil </a>
              </div>
              <div> 
                <a href="/contentidos/porcontenidofacil" class="btn btn-warning btn-block" align="bottom">  Ordenar por #Fácil </a>
              </div>
              <div> 
                <a href="/contentidos/porcontenidomedio" class="btn btn-warning btn-block" align="bottom">  Ordenar por #Media </a>
              </div>
              <div> 
                <a href="/contentidos/porcontenidodificil" class="btn btn-warning btn-block" align="bottom">  Ordenar por #Difícil </a>
              </div>
              <div> 
                <a href="/contentidos/porcontenidomuydificil" class="btn btn-warning btn-block" align="bottom">  Ordenar por #Muy Difícil </a>
              </div>
              
            </div>
            <hr>
            
            <!--- Mostrar content --->
            <table class="table">
              <tr>
                <th>
                  Contenido
                </th>
            
                <th>
                  # ejercicios (Muy Fácil / Fácil / Medio / Difícil / Muy Difícil )
                </th>
            
              </tr>
              
              <!--- Pendientes de clasificar con contenido --->
              <tr>
                <td>
                   Pendiente de Re-Clasificación (Conts antiguos)
                </td>
            
                <td>
                    <% aux = 0 %>
                    <% Contentido.where(:final => nil).each do |cont|%>
                      <% aux = aux + cont.ejercicios.count %>
                    <% end %>
                    <%= aux %>
                </td>
            
              </tr>
              
              
              <% @contentidos.each do |cont| %>
              <tr>
                <td>
                  <a href="/contentidos/<%= cont.id %>"> <%= cont.nombre %> </a>
                </td>
            
                <td>
                    <% muyfac = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 1).count %>
                    <% fac = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 2).count %>
                    <% med = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 3).count %>
                    <% dif = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 4).count %>
                    <% muydif = @ejercicios.where(:contenido_id => cont.id).where(:dificultad => 5).count %>
                    
                  <%= @ejercicios.where(:contenido_id => cont.id).count %> (<%= muyfac %> / <%= fac %> / <%= med %> / <%= dif %> / <%= muydif %>)
                </td>
            
              </tr>
              <% end %>
            </table>


          </div>
        </div>
      </div>
    </div>
</div>